:root {
    --text-color: #002c43;
}

/* Start Global Rules */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        max-width: 600px
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        width: 600px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        width: 992px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #eee; */
}

/* End Global Rules */

/* Start header */
.header .container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-items: center;
    gap: 20px;
    padding: 0;
    grid-template-areas: "logo tabs signin";
    align-items: baseline;
}

.header .logo {
    grid-area: logo;
    font-family: "Fascinate Inline";
    font-size: 28px;
    font-weight: 100;
    justify-self: start;
    color: #00324b;
}

.header .tabs {
    grid-area: tabs;
    justify-self: flex-start;
}

.header ul {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.header ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header .container .signin-btn {
    grid-area: signin;
    justify-self: end;
    color: #888;
    font-size: 18px;

}

.header ul li a {
    color: #888;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
    transition: color 0.3s ease;
}

/* .header ul li a:hover {
    color: var(red);
} */

/* End header */

/* Start landing */
.landing {
    padding: 0;
    margin: 0;
}

.landing img {
    width: 100%;
    /* height: 800px; */
    background-size: contain;
}

.landing .intro-text {
    /* align-content: center; */
    position: absolute;
    left: 25%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 420px;
    max-width: 100%;
}

.landing .intro-text h2 {
    margin: 0;
    font-weight: bold;
    font-size: 30px;
    color: #00324b;
    line-height: 1.3;
}

.landing .intro-text p {
    font-size: 20px;
    line-height: 1.8;
    color: #00324b;
    margin: 10px 0;
}

.landing .intro-text input {
    color: #fcfcfc;
    background-color: #45c14e;
    border-radius: 50px;
    border-color: transparent;
    padding: 10px 30px;
    font-weight: bold;
}

/* End landing */

/* Start features */
.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0 15px; */
    background-color: #dff8eb;
}

.features h2 {
    color: #00324b;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
}

.features .hor-feats {
    display: flex;
}

.features .feat {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
}

.features .feat img {
    width: 200px;
    padding: 20px;
    border-radius: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: #00324b;
    background-color: #fcfcfc;
}

.features .feat p {
    color: #00324b;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

/* End features */

/* Start learn ad */
.learn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:
        #4ee8e2;
    margin: 60px auto;
    padding: 100px 0;
}

.learn img {
    width: 200px;
}

.learn .text h2 {
    color: #00324b;
    font-weight: bold;
    text-align: center;
    font-size: 45px;
}

.learn .text p {
    color: #00324b;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.learn .text .icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.learn .text .icons i {
    font-size: 40px;
    color: var(--text-color);
    transition: color 0.3s ease;
}

.learn .text .icons i:hover {
    color: #4a90e2;
}

/* End learn ad */

footer {
    background-color: #00324b;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
}

.lists {
    display: flex
;
    height: 150px;
    width: 75%;
    justify-content: space-around;
}

footer ul {
    list-style: none;
    display: flex
;
    flex-direction: column;
    justify-content: space-evenly;
}

footer ul li a {
    text-decoration: none;
    color: #fcfcfc;
    font-size: 20px;
}

footer p {
    color: #fcfcfc;
    font-weight: 100;
    font-size: larger;
}